# Ignore renv library files
renv/

# Ignore R temporary files
.Rhistory
.RData
.Rproj.user/

# Ignore log files
*.log

# Ignore other temporary files
*.tmp
*.swp
*.bak
*.old

# Ignore personal configuration files
*.Rproj